.tour {
  width: 89.3%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  min-width: 384px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  margin-bottom: 2.06rem;
  box-shadow: 12px 12px 11px -7px rgba(0, 0, 0, 0.25);
}
.tour img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 18.312rem;
}
.name {
  text-align: center;
  margin-top: 0.81rem;
  margin-bottom: 0.81rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 166.182%; /* 1.45406rem */
  letter-spacing: 0.14438rem;
}
.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.info {
  font-family: Open Sans;
  font-size: 0.875rem;
  line-height: 166.182%; /* 1.45406rem */
  letter-spacing: 0.03938rem;
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0rem 0.5rem 0rem 0rem;
  border-radius: 0rem 0.5rem 0rem 0rem;
  background: #149000;
  color: white;
  font-family: Open Sans;
  font-weight: 400;
  padding: 0.625rem;
}
.showMore {
  border: none;
  background-color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.09625rem;
}
.showMore:active{
  color: #0500ff;
}
@media (hover) {
  .showMore:hover {
    color: #0500ff;
    cursor: pointer;
  }
}
@media (min-width: 430px) {
  .tour {
    width: 43.13%;
  }
  .tour img {
  width: 100%;
  height: 20rem;
}
}
